html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

main > * {
    padding: 20px;
}

.horizontal-display {
    display: flex;
    justify-content: space-evenly;
}

.horizontal-display > div {
    display: flex;
    justify-content: center;
}

.vertical-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.vertical-display > img {
    width: 300px;
}

.post {
    display: flex;
    flex-direction: row;
    gap: 15px;

    align-items: start;
    justify-content: center;

    border-bottom: 1px solid gray;
}

.post:nth-child(even) {
    flex-direction: row-reverse;
}

.post > img {
    object-fit: scale-down;
    width: calc(100% / 3);
    min-width: calc(100% / 3);
}

.post > div {
    flex-grow: 1;
    width: 100%;
}

@media (width < 1000px) {
    .post, .post:nth-child(even) {
        flex-direction: column;

        align-items: center;
    }

    .post > img {
        width: 50%;
    }
}

@media (width < 500px) {
    .post > img {
        width: 100%;
    }
}

@media (width < 1000px) {
    body {
        zoom: 125%;
    }
}

@media (width < 500px) {
    body {
        zoom: 150%;
    }
}