{% extends "templates/page.html" %}
{% block page_name %}
 {{ professions[code]["nom"] }}
{% endblock %}
{% block page_description %}
 {{ professions[code]["nom"] }} dans l'AP3S
{% endblock %}
{% block page_canonical %}
 build/professions/{{ code }}.html
{% endblock %}

{% block content %}
 <div id="biographies">
  {% for medecin in liste_medecins %}
   {% if medecin["profession"] in professions[code]["codes"] %}
    <div class="bio" id="{{ medecin['nom'] }}">
     <div>
      <img src="public/images/personnel/{{ medecin['nom'] }}.jpg" alt="Photo de {{ medecin['nom'] }}" />
     </div>
     <div>
      <h4>
       <span>{{ medecin["nom"] }} - {{ medecin["profession"] }}</span>
      </h4>
      <span>
       <a href="tel:{{ medecin['telephone'] }}">{{ medecin['telephone'] }}</a>
       {% if medecin["doctolib"] != "" %}
        &nbsp;-&nbsp; 
        <a href="https://www.doctolib.fr/{{ medecin['doctolib'] }}/booking" target="_blank">Doctolib</a>
       {% endif %}
      </span>
      <p>{{ medecin["bio"] | replace("\n", "<br />") | safe }}</p>
     </div>
    </div>
   {% endif %}
  {% endfor %}
 </div>
{% endblock %}